<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/all.css" />
    <title>切版任務二 - 部落格</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="#">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/d796f511bed88b5468b1c02b9dc1f17048b1448f/2024%20web-camp/logo.svg"
              alt=""
            />
          </a>
        </div>
        <nav class="close">
          <ul>
            <li class="menu-list"><a href="#">首頁</a></li>
            <li class="menu-list"><a href="#">作品集</a></li>
            <li class="menu-list"><a href="#">服務項目</a></li>
            <li class="menu-list"><a href="#">部落格</a></li>
            <li class="menu-list"><a href="#">聯絡我</a></li>
          </ul>
        </nav>
        <div class="menu">
          <span class="material-symbols-outlined hamburger-icon"> menu </span>
        </div>
      </div>
    </header>
    <footer>
      <div class="container">
        <div class="info">
          <a href="#">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/d796f511bed88b5468b1c02b9dc1f17048b1448f/2024%20web-camp/logo.svg"
              alt="logo"
            />
          </a>
          <p class="text">
            若有數位產品設計和開發相關問題歡迎填寫表單，或直接與我聯絡！
          </p>
          <a class="email" href="mailto:service@hexschool.com"
            >service@hexschool.com</a
          >
        </div>
        <div class="btn">
          <ul>
            <li>
              <a class="form" href="#">
                <img
                  class="list"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/d796f511bed88b5468b1c02b9dc1f17048b1448f/2024%20web-camp/list.svg"
                  alt=""
                />
                <p>填寫表單</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/instagram.svg"
                  alt=""
                />
                <p>hexschool_demo</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/facebook.svg"
                  alt=""
                />
                <p>hexschoolTW</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
