@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif, "Noto Sans TC";
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}
//CSS Reset end
header {
  border-bottom: 1px solid #f1f1f1;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 28px 0;
    @include mobile {
      justify-content: space-between;
      padding: 8px 12px;
    }
    .logo {
      width: 33%;
      display: flex;
      img {
        width: 90px;
        height: 40px;
      }
    }
    .close {
      @include mobile {
        display: none;
      }
    }
    nav {
      width: 33%;
      @include mobile {
        z-index: 1000;
      }
      ul {
        // width: 480px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include mobile {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          background-color: #fafafa;
          top: 56px;
          left: 0%;
          padding: 8px;
        }
        li,
        .menu-list {
          position: relative;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border: 1px solid #919191;
            -webkit-box-reflect: below 20px;
            opacity: 0;
          }
          &::before {
            top: 0;
            left: 0;
            border-bottom: none;
            border-right: none;
          }
          &::after {
            top: 0;
            right: 0;
            border-bottom: none;
            border-left: none;
          }
          &:hover::before,
          &:hover::after {
            opacity: 1;
          }
          @include mobile {
            margin-bottom: 4px;
          }
          a {
            display: block;
            padding: 4px 8px;
            color: #000000;
            &:hover {
              font-weight: 600;
              //四邊匡線效果待研究
            }
            @include mobile {
              padding-top: 8px;
              padding-bottom: 8px;
            }
          }
        }
      }
    }
    .menu {
      width: 33%;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: end;
      span {
        display: none;
        color: #000;
        padding: 4px 8px;
        &:hover {
          background-color: #f1f1f1;
          border-radius: 8px;
        }
        @include mobile {
          display: inline;
        }
      }
    }
  }
}
main {
  .banner {
    display: flex;
    .about {
      width: 776px;
      display: flex;
      align-items: center;
      justify-content: end;
      padding-right: 24px;
      .info {
        width: 430px;
        h1 {
          font-weight: 600;
          font-size: 40px;
          line-height: 1.2;
          margin-bottom: 24px;
          color: #3b3b3b;
        }
        .detail {
          font-size: 20px;
          line-height: 1.5;
          color: #5b5b5b;
          .underline {
            background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true")
              no-repeat bottom;
          }
          .underline-1 {
            padding: 0 8px;
          }
          .underline-2 {
            padding-left: 8px;
          }
        }
        .subInfo {
          color: #c1c1c1;
          margin-bottom: 60px;
        }
        .socialIcon {
          width: 200px;
          display: flex;
          justify-content: space-between;
          font-family: sans-serif, "Noto Sans TC";
        }
      }
    }
    .about_img {
      img {
        width: 1154px;
        height: 792px;
        margin-left: auto;
      }
    }
  }
  .works {
    .title {
      width: 372px;
      margin: 0 auto;
      padding-top: 120px;
      padding-bottom: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 100px;
        height: 6px;
      }
      p {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
      }
    }
    .card {
      height: 800px;
      background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true");
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: multiply;
      display: flex;
      align-items: center;
      justify-content: center;
      .journey {
        width: 714px;
        height: 720px;
        align-self: end;
        margin-right: 55px;
      }
      .card-info {
        width: 526px;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 24px;
        // opacity: 0.1;
        padding-top: 80px;
        padding-bottom: 56px;
        padding-left: 40px;
        padding-right: 40px;
        .card-info-detail {
          width: 446px;
          border-bottom: 1px solid #fff;
          margin-bottom: 40px;
          h2 {
            color: #fff;
            font-size: 28px;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 8px;
          }
          p {
            color: #fff;
            margin-bottom: 24px;
          }
          ul {
            display: flex;
            width: 323px;
            justify-content: space-between;
            padding-bottom: 40px;
            li {
              padding: 4px 12px;
              background-color: #fff;
              border-radius: 16px;
            }
          }
        }
        .btnBox {
          width: 446px;
          .btn {
            margin: 0 auto;
            width: 176px;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 5px;
            p {
              color: #fff;
              margin-bottom: 0;
              font-weight: 700;
            }
            .material-symbols-outlined {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
footer {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
  @include mobile {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true")
      center no-repeat cover;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    @include mobile {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 34.5px;
    }
    .info {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include mobile {
        width: 100%;
        align-items: center;
        margin-bottom: 40px;
      }
      img {
        width: 120px;
        margin-bottom: 24px;
      }
      .text {
        font-size: 20px;
        color: #3b3b3b;
        margin-bottom: 24px;
        @include mobile {
          font-size: 16px;
        }
      }
      .email {
        font-size: 20px;
        line-height: 1.2;
        color: #919191;
        @include mobile {
          font-size: 16px;
        }
      }
    }
    .btn {
      width: 25%;
      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      ul {
        // width: 100%;
        width: 306px;
        height: 264px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          a {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #c1c1c1;
            padding: 8px 0;
            padding-left: 24px;
            @include mobile {
              padding: 4px 0;
              padding-left: 24px;
            }
          }
          img {
            color: #3b3b3b;
          }
          p {
            color: #3b3b3b;
            position: relative;
            &::after {
              /* 添加這塊 */
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 1px;
              background-color: #3b3b3b;
              transform: scaleX(0);
              transition: transform 0.3s ease;
            }
            &:hover::after {
              /* 添加這塊 */
              transform: scaleX(1);
            }
          }
        }
        .form {
          background-color: #000000;
          .list {
            color: #fff;
          }
          p {
            color: #fff;
            position: relative;
            &::after {
              /* 添加這塊 */
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 1px;
              background-color: #fff;
              transform: scaleX(0);
              transition: transform 0.3s ease;
            }
            &:hover::after {
              /* 添加這塊 */
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
