@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Noto Sans, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}

header {
  border-bottom: 1px solid #f1f1f1;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 28px 0;
}
@media (max-width: 768px) {
  header .container {
    justify-content: space-between;
    padding: 8px 12px;
  }
}
header .container .logo {
  width: 33%;
  display: flex;
}
header .container .logo img {
  width: 90px;
  height: 40px;
}
@media (max-width: 768px) {
  header .container .close {
    display: none;
  }
}
header .container nav {
  width: 33%;
}
@media (max-width: 768px) {
  header .container nav {
    z-index: 1000;
  }
}
header .container nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  header .container nav ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fafafa;
    top: 56px;
    left: 0%;
    padding: 8px;
  }
}
header .container nav ul .menu-list a {
  color: #000;
  padding: 4px 8px;
  position: relative;
}
header .container nav ul .menu-list a:hover {
  font-weight: 600;
}
@media (max-width: 768px) {
  header .container nav ul .menu-list a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
header .container nav ul .menu-list a::before, header .container nav ul .menu-list a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #919191;
  -webkit-box-reflect: below 16px;
  opacity: 0;
}
header .container nav ul .menu-list a::before {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
}
header .container nav ul .menu-list a::after {
  top: 0;
  right: 0;
  border-bottom: none;
  border-left: none;
}
header .container nav ul .menu-list a:hover::before, header .container nav ul .menu-list a:hover::after {
  opacity: 1;
}
@media (max-width: 768px) {
  header .container nav ul .menu-list a {
    margin-bottom: 4px;
  }
}
header .container .menu {
  width: 33%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: end;
}
header .container .menu span {
  display: none;
  color: #000;
  padding: 4px 8px;
}
header .container .menu span:hover {
  background-color: #f1f1f1;
  border-radius: 8px;
}
@media (max-width: 768px) {
  header .container .menu span {
    display: inline;
  }
}

.banner {
  max-width: 1920px;
  padding: 80px 0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .slogan {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1.4;
  color: #1e1e1e;
  padding: 59px 71px;
  margin-bottom: 24px;
  position: relative;
}
.banner .slogan::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true");
  top: 0;
  left: 0;
}
.banner .slogan::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true");
  bottom: 0;
  right: 0;
}
.banner .slogan .underline {
  display: inline-block;
  width: 148px;
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true") no-repeat bottom;
}
.banner .info ul {
  width: 636px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner .info ul li {
  width: 298px;
  text-align: center;
}
.banner .info ul li h2 {
  color: #5b5b5b;
  margin-bottom: 8px;
  position: relative;
  padding-bottom: 4px;
}
.banner .info ul li h2::after {
  content: "";
  position: absolute;
  width: 24px;
  left: 138px;
  top: 24px;
  border-bottom: 2px solid #c1c1c1;
}
.banner .info ul li p {
  color: #3b3b3b;
}

.container {
  padding: 0;
}
.container .projects {
  width: 100%;
  padding: 120px 0;
}
.container .projects ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .projects ul .card {
  margin-bottom: 80px;
}
.container .projects ul .card img {
  width: 636px;
  height: 400px;
  margin-bottom: 16px;
  border-radius: 8px;
  display: block;
  outline: 1px solid #f0f0f0;
}
.container .projects ul .card .content {
  margin-left: 16px;
}
.container .projects ul .card .content h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
}
.container .projects ul .card .content p {
  font-weight: 400;
  margin-bottom: 24px;
  color: #919191;
}
.container .projects ul .card .content .tag {
  display: flex;
  justify-content: start;
}
.container .projects ul .card .content .tag li {
  font-weight: 400;
  background-color: #f1f1f1;
  padding: 4px 12px;
  margin-right: 16px;
  border-radius: 16px;
}

footer {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
}
@media (max-width: 768px) {
  footer {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true") center no-repeat cover;
  }
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
@media (max-width: 768px) {
  footer .container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 34.5px;
  }
}
footer .container .info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .container .info {
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
  }
}
footer .container .info img {
  width: 120px;
  margin-bottom: 24px;
}
footer .container .info .text {
  font-size: 20px;
  color: #3b3b3b;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  footer .container .info .text {
    font-size: 16px;
  }
}
footer .container .info .email {
  font-size: 20px;
  line-height: 1.2;
  color: #919191;
}
@media (max-width: 768px) {
  footer .container .info .email {
    font-size: 16px;
  }
}
footer .container .btn {
  width: 25%;
}
@media (max-width: 768px) {
  footer .container .btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer .container .btn ul {
  width: 306px;
  height: 264px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container .btn ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  padding: 8px 0;
  padding-left: 24px;
}
@media (max-width: 768px) {
  footer .container .btn ul li a {
    padding: 4px 0;
    padding-left: 24px;
  }
}
footer .container .btn ul li img {
  color: #3b3b3b;
}
footer .container .btn ul li p {
  color: #3b3b3b;
  position: relative;
}
footer .container .btn ul li p::after {
  /* 添加這塊 */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #3b3b3b;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
footer .container .btn ul li p:hover::after {
  /* 添加這塊 */
  transform: scaleX(1);
}
footer .container .btn ul .form {
  background-color: #000000;
}
footer .container .btn ul .form .list {
  color: #fff;
}
footer .container .btn ul .form p {
  color: #fff;
  position: relative;
}
footer .container .btn ul .form p::after {
  /* 添加這塊 */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
footer .container .btn ul .form p:hover::after {
  /* 添加這塊 */
  transform: scaleX(1);
}/*# sourceMappingURL=projects.css.map */