@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Noto Sans, sans-serif;
  // 無論字體為何，都要備著 sans-serif (無襯線字體），確保所有裝置都能正確瀏覽唷。
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}
//以上為 css reset
header {
  border-bottom: 1px solid #f1f1f1;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 28px 0;
    @include mobile {
      justify-content: space-between;
      padding: 8px 12px;
    }
    .logo {
      width: 33%;
      display: flex;
      img {
        width: 90px;
        height: 40px;
      }
    }
    .close {
      @include mobile {
        display: none;
      }
    }
    nav {
      width: 33%;
      @include mobile {
        z-index: 1000;
      }
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include mobile {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          background-color: #fafafa;
          top: 56px;
          left: 0%;
          padding: 8px;
        }
        .menu-list {
          a {
            color: #000;
            display: block;
            padding: 4px 8px;
            position: relative;
            &:hover {
              font-weight: 600;
            }
            @include mobile {
              padding-top: 8px;
              padding-bottom: 8px;
            }
            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              border: 1px solid #919191;
              -webkit-box-reflect: below 16px;
              opacity: 0;
            }
            &::before {
              top: 0;
              left: 0;
              border-bottom: none;
              border-right: none;
            }
            &::after {
              top: 0;
              right: 0;
              border-bottom: none;
              border-left: none;
            }
            &:hover::before,
            &:hover::after {
              opacity: 1;
            }
            @include mobile {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
    .menu {
      width: 33%;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: end;
      span {
        display: none;
        color: #000;
        padding: 4px 8px;
        &:hover {
          background-color: #f1f1f1;
          border-radius: 8px;
        }
        @include mobile {
          display: inline;
        }
      }
    }
  }
}
main,
.container {
  .banner {
    width: 100%;
    padding: 80px 0;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      padding: 40px 0;
    }
    .slogan {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      line-height: 1.4;
      color: #1e1e1e;
      padding: 59px 71px;
      margin-bottom: 24px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 72px;
        height: 72px;
        background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true");
        top: 0;
        left: 0;
      }
      &::after {
        content: "";
        position: absolute;
        width: 72px;
        height: 72px;
        background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true");
        bottom: 0;
        right: 0;
      }
      .underline {
        display: inline-block;
        width: 148px;
        background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true")
          no-repeat bottom;
      }
      @include mobile {
        width: 70%;
        text-align: center;
        font-size: 20px;
        padding: 0;
        padding-top: 64px;
        margin-bottom: 40px;
        &::before {
          content: "";
          position: absolute;
          width: 64px;
          height: 64px;
          background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true");
          top: -5%;
          left: 40%;
        }
        &::after {
          display: none;
        }
      }
    }
    .info {
      ul {
        width: 636px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include mobile {
          width: 68%;
          flex-direction: column;
          margin: 0 auto;
          gap: 20px;
          margin-bottom: 40px;
        }
        li {
          width: 298px;
          text-align: center;
          @include mobile {
            width: 100%;
          }
          h2 {
            color: #5b5b5b;
            margin-bottom: 8px;
            position: relative;
            padding-bottom: 4px;
            &::after {
              content: "";
              position: absolute;
              width: 24px;
              left: 138px;
              top: 24px;
              border-bottom: 2px solid #c1c1c1;
              @include mobile {
                left: 122px;
              }
            }
          }
          p {
            color: #3b3b3b;
          }
        }
      }
    }
  }
  .wrap {
    width: 100%;
    padding: 120px 0;
    @include mobile {
      padding: 80px 0;
    }
    .projects {
      width: 100%;
      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card {
          width: 48%;
          margin-bottom: 80px;
          border: 0;
          @include mobile {
            width: 100%;
            margin-bottom: 48px;
          }
          button {
            width: 100%;
            padding: 0;
            .img1 {
              height: 400px;
              margin-bottom: 16px;
              border-radius: 8px;
              display: block;
              outline: 1px solid #f0f0f0;
              background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/work-image1.png?raw=true")
                center;
              @include mobile {
                height: 224px;
                background-size: cover;
              }
            }
          }
          .img {
            height: 400px;
            margin-bottom: 16px;
            border-radius: 8px;
            display: block;
            outline: 1px solid #f0f0f0;
            @include mobile {
              height: 224px;
              background-size: cover;
            }
          }
          .img2 {
            background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/work-image2.png?raw=true")
              center;
          }
          .img3 {
            background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/work-image3.png?raw=true")
              center;
          }
          .img4 {
            background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/work-image4.png?raw=true")
              center;
          }
          .img5 {
            background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/work-image5.png?raw=true")
              center;
          }
          .img6 {
            background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/work-image6.png?raw=true")
              center;
          }
          .content {
            margin-left: 16px;
            h2 {
              font-size: 28px;
              font-weight: 700;
              line-height: 1.2;
              margin-bottom: 8px;
              @include mobile {
                font-size: 20px;
              }
            }
            p {
              font-weight: 400;
              margin-bottom: 24px;
              color: #919191;
              @include mobile {
                font-size: 16px;
                margin-bottom: 16px;
              }
            }
            .tag {
              display: flex;
              justify-content: start;
              li {
                font-weight: 400;
                background-color: #f1f1f1;
                padding: 4px 12px;
                margin-right: 16px;
                border-radius: 16px;
              }
            }
          }
        }
        .card5,
        .card6 {
          margin-bottom: 72px;
        }
        .modal {
          left: -17%;
          .modal-content {
            width: 1076px;
            .modal-header {
              width: 100%;
              border-bottom: 0px;
            }
            .modal-body {
              width: 100%;
              .modal-banner {
                margin-bottom: 40px;
                text-align: center;
                h2 {
                  color: #3b3b3b;
                  font-size: 28px;
                  font-weight: 700;
                  line-height: 1.2;
                  margin-bottom: 8px;
                }
                h3 {
                  color: #919191;
                }
              }
              .description {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 40px;
                p {
                  color: #1e1e1e;
                  display: block;
                  width: 50%;
                }
                ul {
                  width: 35%;
                  li {
                    color: #5b5b5b;
                  }
                }
              }
              .detail {
                background-color: #fafafa;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 80px 0;
                .main-info {
                  margin-bottom: 56px;
                  img {
                    border-radius: 10px;
                    margin-bottom: 24px;
                  }
                  h2 {
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: 700;
                    margin-bottom: 16px;
                    color: #1e1e1e;
                  }
                  p {
                    color: #5b5b5b;
                  }
                }
                .sub-info {
                  img {
                    border-radius: 10px;
                    margin-bottom: 24px;
                  }
                  h2 {
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: 700;
                    margin-bottom: 16px;
                    color: #1e1e1e;
                  }
                  p {
                    color: #5b5b5b;
                  }
                }
              }
            }
          }
        }
      }
    }
    // .pagination {
    //   width: 152px;
    //   margin: 0 auto;
    //   --bs-pagination-font-size: 24px;
    //   --bs-pagination-border-color: 0;
    //   --bs-pagination-color: #1e1e1e;
    //   --bs-pagination-hover-color: #ffffff;
    //   --bs-pagination-hover-bg: #1e1e1e;
    //   --bs-pagination-active-bg: #1e1e1e;
    //   --bs-pagination-active-border-color: #1e1e1e;
    //   .page-item {
    //     width: 40px;
    //     height: 40px;
    //     --bs-pagination-hover-border-radius: 4px;

    //     .page-link {
    //     }
    //   }
    // }
    .page {
      width: 152px;
      margin: 0 auto;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
          a {
            text-decoration: none;
            display: block;
            width: 40px;
            height: 40px;
            font-size: 24px;
            color: #3b3b3b;
            text-align: center;
            &:hover {
              background-color: #1e1e1e;
              color: #fff;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}
footer {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
  @include mobile {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true")
      center no-repeat cover;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    @include mobile {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 34.5px;
    }
    .info {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include mobile {
        width: 100%;
        align-items: center;
        margin-bottom: 40px;
      }
      img {
        width: 120px;
        margin-bottom: 24px;
      }
      .text {
        font-size: 20px;
        color: #3b3b3b;
        margin-bottom: 24px;
        @include mobile {
          font-size: 16px;
        }
      }
      .email {
        font-size: 20px;
        line-height: 1.2;
        color: #919191;
        @include mobile {
          font-size: 16px;
        }
      }
    }
    .btn {
      width: 25%;
      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      ul {
        // width: 100%;
        width: 306px;
        height: 264px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          a {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #c1c1c1;
            padding: 8px 0;
            padding-left: 24px;
            @include mobile {
              padding: 4px 0;
              padding-left: 24px;
            }
          }
          img {
            color: #3b3b3b;
          }
          p {
            color: #3b3b3b;
            position: relative;
            &::after {
              /* 添加這塊 */
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 1px;
              background-color: #3b3b3b;
              transform: scaleX(0);
              transition: transform 0.3s ease;
            }
            &:hover::after {
              /* 添加這塊 */
              transform: scaleX(1);
            }
          }
        }
        .form {
          background-color: #000000;
          .list {
            color: #fff;
          }
          p {
            color: #fff;
            position: relative;
            &::after {
              /* 添加這塊 */
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 1px;
              background-color: #fff;
              transform: scaleX(0);
              transition: transform 0.3s ease;
            }
            &:hover::after {
              /* 添加這塊 */
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
